{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <main>
    <div class="mt-6 flex flex-col">
      <h2 class="font-serif text-4xl font-bold text-amber-600 mb-5">Category :{{ category.category_name }}</h2>
      <h2 class="font-serif text-4xl font-bold mt-5">Posts</h2>
      <div class="mt-4 flex gap-6">
        <div class="flex flex-col gap-8">
          {% if not posts %}
            <h2>No post exist</h2>
          {% else %}
            {% for post in posts %}
              <div class="flex flex-col w-9/12">
                <h2 class="font-semibold mb-3 font-serif text-2xl">{{ post.title }}</h2>
                <div class="flex gap-2 mb-2">
                  <span class="text-gray-400 text-sm">{{ post.created_at|timesince }}</span>
                  <span class="text-blue-700 hover:underline text-sm">by {{ post.author }}</span>
                </div>
                <div class="flex flex-col gap-3">
                  <p class="text-gray-500">{{ post.short_description }}</p>
                  <p class="text-gray-500">{{ post.short_body }}</p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
