{% extends 'base.html' %}
{% block content %}
  <!-- Page content -->
  <div class="container mx-auto mt-12 px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-2/3 px-4">
        <!-- Post content -->
        <article>
          <!-- Post header -->
          <header class="mb-6">
            <!-- Post title -->
            <h1 class="font-bold text-4xl mb-2 font-serif">{{ single_blog.title }}</h1>
            <!-- Post meta content -->
            <div class="text-gray-500 italic mb-4">Posted on {{ single_blog.created_at }} by {{ single_blog.author }}</div>
            <!-- Post category -->
            <a class="inline-block bg-blue-600 text-white no-underline px-3 py-1 rounded text-sm" href="#!">{{ category.category_name }}</a>
          </header>
          <!-- Preview image figure -->
          <figure class="mb-6">
            <img class="w-full rounded" src="{{ single_blog.featured_image.url }}" alt="blog_image" />
          </figure>
          <!-- Post description -->
          <section class="mb-8">
            <p class="text-xl mb-6">{{ single_blog.short_description }}</p>
          </section>
          <!-- Post body -->
          <section class="mb-8">
            <p class="text-xl mb-6">{{ single_blog.short_body }}</p>
            <div class="flex flex-col mt-5 gap-3">
              <h2 class="text-3xl font-serif">Comments ({{ commentCount }})</h2>
              <div class="flex flex-col gap-2">
                {% for comment in comments %}
                  <div class="border border-gray-100 rounded-lg p-3 px-5 flex flex-col gap-1.5">
                    <span class="text-xl text-slate-700">{{ comment.comment }}</span>
                    <span class="text-sm text-gray-400">By {{ comment.user }} &emsp; {{ comment.created_at|timesince }} ago</span>
                  </div>
                {% endfor %}

                {% if not comments %}
                  <h2>No comments yet</h2>
                {% endif %}
                {% if not request.user.is_authenticated %}
                  <div class="text-gray-500">
                    Please <a href="{% url 'login' %}" class="text-indigo-600">login</a> to comment
                  </div>
                {% else %}
                  <form method="post" class="rounded-mg w-sm p-3">
                    {% csrf_token %}
                    <textarea name="comment" placeholder="Enter your comment..." class="text-sm text-gray-400 border border-gray-400 pl-6 p-3 resize-none w-full outline-none rounded-md" rows="10"></textarea>
                    <button type="submit" class="px-3 p-1.5 w-fit mt-4 rounded-md bg-indigo-500 text-white">Submit</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </section>
        </article>
      </div>
      <!-- Side widgets -->
      <div class="w-full lg:w-1/3 px-4">
        <!-- Categories widget -->
        <div class="bg-white border border-gray-200 rounded mb-6 p-5">
          <h4 class="italic text-xl mb-4">Categories</h4>
          <div class="p-0">
            <div class="flex -mx-2">
              <div class="w-1/2 px-2 h-28">
                <ul class="list-none flex flex-col h-full space-x-7 gap-2 flex-wrap mb-0">
                  {% for category in categories %}
                    <li>
                      <a href="{% url 'get_category_posts' category.id %}" class="text-blue-600 hover:underline underline-offset-4">{{ category.category_name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side widget -->
        <div class="bg-white border border-gray-200 rounded mb-6 p-5">
          <h4 class="italic text-xl mb-4">Follow Us</h4>
          <div class="flex flex-col text-blue-500 mt-2 gap-2">
            {% if social_links %}
              {% for link in social_links %}
                <a href="{{ link.social_link }}">{{ link.social_platform }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
