<div class="flex flex-col gap-1.5 bg-gray-100 h-fit">
  <a href="{% url 'dashboard' %}" class="w-xs py-2 
  {% if '/dashboard/' == request.path %}
    bg-amber-400
  {% endif %}
     rounded-sm pl-3 transition-colors duration-500 ease-in">Dashboard</a>
  <a href="{% url 'categories_dashboard' %}" class="w-xs py-2 rounded-sm pl-3 transition-colors duration-500 ease-in  {% if 'dashboard/categories' in request.path %}
    bg-amber-400
  {% endif %}">Categories</a>
  <a href="{% url 'posts' %}" class="w-xs py-2 rounded-sm pl-4 
  {% if 'dashboard/posts' in request.path %}
    bg-amber-400
  {% endif %}
    ">Posts</a>

  {% if perms.auth.view_user %}
    <a href="{% url 'users' %}" class="w-xs py-2 rounded-sm pl-3 
    {% if '/users' in request.path %}
          bg-amber-400
    {% endif %}
      ">Users</a>
  {% endif %}

  <a href="" class="w-xs py-2 rounded-sm pl-3">Logout</a>
</div>
